<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../PollingBehavior.html">
<link rel="import" href="../CompanyBehavior.html">
<link rel="import" href="../api.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">

<dom-module id="dummy-widget">
	<template>
		<aba-widget></aba-widget>
	</template>

	<script>
		class DummyWidget extends abasWidgets.PollingBehavior(abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element))) {

			static get is() {
				return "dummy-widget"
			}
			static get properties() {
				return {
					}
				}

				_fireUpdateAttribute() {
								this.fireAttributesUpdate([
										{ 
												name: 'company',
												value: this.company
										}
								]);
						}
		}
		customElements.define(DummyWidget.is, DummyWidget);
	</script>
</dom-module>