<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../CompanyBehavior.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">

<dom-module id="dummy-settings">
	<template>
			<div id="divErpClientInput">
					<paper-dropdown-menu label="Clients" vertical-offset="60">
							<paper-listbox id="erpClientInput" slot="dropdown-content" attr-for-selected="label" selected="{{company.title}}">
									<template is="dom-repeat" items="[[_companies]]">
											<paper-item label="{{item.title}}">{{item.title}}</paper-item>
									</template>
							</paper-listbox>
					</paper-dropdown-menu>
			</div>
		
	</template>

	<script>
		class DummySettings extends abasWidgets.CompanySettingsBehavior(Polymer.AbasLocalizeMixin(Polymer.Element)) {

			static get is() {
				return "dummy-settings"
			}
			static get properties() {
				return {
					}
				}

			_fireUpdateAttribute() {
								this.fireAttributesUpdate([
										{ 
												name: 'company',
												value: this.company
										}
								]);
						}
		}
		customElements.define(DummySettings.is, DummySettings);
	</script>
</dom-module>
