<link rel="import" href="libraries.html">
<link rel="import" href="api.html">
<link rel="import" href="../abas-dashboard-state/abas-dashboard-state.html">

<script>
	if (!window.abasWidgets) {
		window.abasWidgets = {};
	}

	/**
	 * @polymerBehavior CompanyBehavior
	 */
	const CompanyBehavior = superClass => {
		return class extends superClass {
			constructor() {
				super();
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			connectedCallback() {
				super.connectedCallback();
				AbasDashboardState.userInfo.then(this.__userInfo.bind(this))
				AbasDashboardState.defaultCompany.then((defaultCompany) => {
					this.set('defaultCompany', defaultCompany);
				})
			}

			static get observers() {
				return [
					'__updateCompany(company.id, _companies)'
				]
			}

			static get properties() {
				return {
					company: { type: Object },
					defaultCompany: { type: Object, observer: 'defaultCompanyChanged' }
				}
			}

			defaultCompanyChanged(defaultCompany) {
				// only ignore defaultCompany if this widget has "company" configured and "fixed"
				if (this.company && this.company.fixed ) { return }
				this.set('company', JSON.parse(JSON.stringify(defaultCompany)));
			}

			__updateCompany(id, companies) {
				if (id != undefined && companies != undefined) {
					// look for company in list of companies
					let foundCompany = companies.find(company => company.id == id)
					if(foundCompany) {
						// add fixed property
						foundCompany.fixed = this.company.fixed
					}
					this.set('company', foundCompany)
				}
			}

			__userInfo(userInfos) {
				this.set('_companies', userInfos.map(userInfo => userInfo.client))
			}
		}
	}

	/**
	 * @polymerBehavior CompanySettingsBehavior
	 */
	const CompanySettingsBehavior = (superClass) => {

		return class extends superClass {

			constructor() {
				super();
				this.__boundApplySettings = this.__applySettings.bind(this);
				this.__boundRevertSettings = this.__revertSettings.bind(this);
				this.__boundSettingsOpened = this.__preserveSettings.bind(this);
			}

			connectedCallback() {
				super.connectedCallback();
				if (_.isEmpty(this.id)) {
					console.warn("[CompanyBehavior] WidgetID is missing. Changes won't be saved.")
				}
				window.addEventListener('settings-apply', this.__boundApplySettings);
				window.addEventListener('settings-closed', this.__boundRevertSettings);
				window.addEventListener('settings-opened', this.__boundSettingsOpened);
				AbasDashboardState.userInfo.then(this.__userInfo.bind(this));
				AbasDashboardState.defaultCompany.then((defaultCompany) => {
					if (!this.company) {
						this.set('selectedCompany', defaultCompany);
					}
				});
			}

			disconnectedCallback() {
				super.disconnectedCallback();
				window.removeEventListener('settings-apply', this.__boundApplySettings);
				window.removeEventListener('settings-closed', this.__boundRevertSettings);
				window.removeEventListener('settings-opened', this.__boundSettingsOpened);
			}

			static get properties() {
				return {
					company: { type: Object, notify: true },
					selectedCompany: { type: Object, notify: true }
				}
			}

			static get observers() {
				return [
					'__companySelected(selectedCompany.id, _companies)',
					'__presetSelectedCompany(company.id, _companies)'
				]
			}

			__userInfo(userInfos) {
				this.set('_companies', userInfos.map(userInfo => userInfo.client));
			}

			__presetSelectedCompany(id, companies) {
				if (id != undefined && companies != undefined) {
					// set to un-minified company and company (may be fixed)
					this.set('selectedCompany', Object.assign(companies.find(company => company.id == id), this.company));
				}
			}

			// selectedCompany is used by ui-companyselector and has also the prop selectedCompany.fixed
			__companySelected(id, companies) {
				if (id != undefined && companies != undefined) {
					this.set('company', Object.assign(this.selectedCompany, companies.find(company => company.id == id)));
				}
			}

			__applySettings(event) {
				if (event.detail.widgetID == this.id) {
					if (this.selectedCompany && this.selectedCompany.hasOwnProperty('id')) {
						let company = this.__minifyCompany(this.selectedCompany);
						this.fireAttributesUpdate([{
							name: 'company',
							value: company
						}]);
					}
				}
			}

			__revertSettings(event) {
				if (event.detail.widgetID == this.id) {
					this.set('company', JSON.parse(JSON.stringify(this.__minifyCompany(this.__preservedCompany))));
				}
			}

			__preserveSettings(event) {
				if (event.detail.widgetID == this.id) {
					this.__preservedCompany = JSON.parse(JSON.stringify(this.__minifyCompany(this.company)));
				}
			}

			__minifyCompany(company) {
				if (company != undefined &&
					company.hasOwnProperty('id') &&
					company.hasOwnProperty('title') &&
					company.hasOwnProperty('href')) {
					let minifiedCompany = {
						id: company.id,
						title: company.title,
						href: company.href,
						fixed: Boolean(company.fixed)
					}
					return minifiedCompany;
				} else {
					return {}
				}
			}
		}
	}

	window.abasWidgets.CompanyBehavior = Polymer.dedupingMixin(CompanyBehavior);
	window.abasWidgets.CompanySettingsBehavior = Polymer.dedupingMixin(CompanySettingsBehavior);
</script>