<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html">
<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../paper-toast/paper-toast.html">

<dom-module id="database-selection-dialog">
	<template>
		<style>
			:host {
				display: block;
			}

			paper-button.confirm {
				background: var(--accent-color);
				color: var(--accent-primary-text-color);
			}
			div {
				padding: 8px;
			}
			.contentbox {
				margin: 0;
				padding: 16px 16px;
				min-width: 400px;
				min-height: 20vh;
				max-height: 80vh;
				overflow: hidden;
			}
			.headline {
				border-bottom: 1px solid #1bbba3;
				text-align: left;
				font-size: 1.5em;
				font-weight: bold;
				padding: 0 0 12px 0;
			}
			.content {
				/* margin: 0; */
				/* padding: 16px 0 0 0; */
				height: calc(100% - 35px);
				overflow: auto;
			}

			.head-buttons {
				display: flex;
				justify-content: flex-end;
				padding: 8px;
			}

			#table {
				display: block;
				height: calc(100% - 150px);
				max-height:100%;
			}

			.table {
				width: 100%;
				max-width: 100%;
				border-collapse: collapse;
				border-spacing: 0;
			}

			.header-fixed {
				width: 100%;
			}

			.header-fixed > thead,
			.header-fixed > tbody,
			.header-fixed > thead > tr,
			.header-fixed > tbody > tr,
			.header-fixed > thead > tr > th,
			.header-fixed > tbody > tr > td {
				display: block;
			}

			.header-fixed > tbody > tr:nth-child(even) {
				background: #f0f4f7;
			}

			.header-fixed > tbody > tr:after,
			.header-fixed > thead > tr:after {
				content: ' ';
				display: block;
				visibility: hidden;
				clear: both;
			}

			.header-fixed > thead {
				border-bottom: 1px solid #1bbba3;
			}

			.header-fixed > tbody {
				display: block;
				overflow-y: auto;
				max-height: calc(80vh - 225px);
			}

			.header-fixed > tbody > tr > td,
			.header-fixed > thead > tr > th {
				float: left;
			}

			.width20 {
				width: 20px;
			}

			.apply {
				float: right;
			}
		</style>
	
		<paper-dialog id="databaseSelectionDialog" modal>
			<div class="contentbox">
				<div class="headline">[[localize('dbSelectionDialog.header')]]</div>
				<div class="content">
					<div id="head">
						<div><b>[[localize('dbSelectionDialog.field')]]</b>: [[fieldname]]</div>
						<div class="head-buttons">
							<abas-function-button on-tap="_selectAllTopics">[[localize('dbSelectionDialog.select.all')]]</abas-function-button>
							<abas-function-button on-tap="_delectAllTopics" style="margin-left: 8px;">[[localize('dbSelectionDialog.deselect.all')]]</abas-function-button>
						</div>
					</div>
					<div id="table">
						<table class="table header-fixed">
							<thead>
								<tr>
									<th scope="col" class="width20"></th>
									<th scope="col"><b>[[localize('dbSelectionDialog.topic')]]</b></th>
								</tr>
							</thead>
							<tbody>
								<template is="dom-repeat" items="{{_actualTopics}}" as="topic">
									<tr>
										<td>
											<paper-checkbox noink checked="{{topic.active}}"></paper-checkbox>
										</td>
										<td>
											[[topic.topic]]
										</td>
									</tr>
								</template>
							</tbody>
						</table>
					</div>
				</div>
				<div class="buttons apply">
					<paper-button dialog-dismiss class="confirm" on-tap="_commit">[[localize('dbSelectionDialog.apply')]]</paper-button>
				</div>
			</div>
		</paper-dialog>
	</template>
	<script>
		class DatabaseSelectionDialog extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			constructor() {
				super();
			}

			static get is() {
				return 'database-selection-dialog';
			}
			static get properties() {
				return {
					fieldname: {
						type: String,
						value: ''
					},
					topics: {
						type: Object,
						value: {},
						notify: true
					}
				}
			}

			static get observers() {
				return ['_setLinkToBoard(board.id)']
			}

			/*************
			 * Lifecycle *
			 *************/
			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			open() {
				document.body.appendChild(this);
				this._actualTopics = this.topics;
				this.$.databaseSelectionDialog.open();
			}

			_commit() {
				this.set('topics', this._actualTopics);
				this.dispatchEvent(new CustomEvent('actual-topic-update', {
					detail: {
						fieldname: this.fieldname,
						topics: this.topics
					}
				}));
				this.$.databaseSelectionDialog.close();
			}

			_selectAllTopics(event) {
				let newActualTopics = this._actualTopics.map((topic) => {
					return {
						topic: topic.topic,
						active: true
					}
				});
				this.set('_actualTopics', []);
				this.set('_actualTopics', newActualTopics);
			}
			_delectAllTopics(event) {
				let newActualTopics = this._actualTopics.map((topic) => {
					return {
						topic: topic.topic,
						active: false
					}
				});
				this.set('_actualTopics', []);
				this.set('_actualTopics', newActualTopics);
			}
		}
		window.customElements.define(DatabaseSelectionDialog.is, DatabaseSelectionDialog);
	</script>
</dom-module>