<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="ui-auto-complete">
	<template>
		<style>
			.container {
				display: flex;
				align-items: flex-end;
				max-width: 650px;
			}
			.item-growth {
				flex: 1 1 auto;
			}
			.item-no-growth {
				flex: 0 0 auto;
			}
		</style>
		<div class="container">
			<abas-auto-complete class="item-growth" label="[[label]]" placeholder="[[placeholder]]"
				items="[[items]]"
				on-input="_updateActualValue"
				on-blur="_resetActualValue"
				on-item-selected="_itemSelected"
				value$="[[actualValue]]"
				no-side-button$="[[hideSide(noSideButton, showDeleteButton)]]"
				readonly$="[[readonly]]">
			</abas-auto-complete>
			<div class="item-no-growth">
				<template is="dom-if" if="[[showDeleteButton]]">
					<abas-function-button icon="times" on-tap="_itemDeselected"></abas-function-button>
				</template>
			</div>
		</div>
	</template>

	<script>
		/**
		 * `ui-auto-complete`
		 * element to setup an auto complete dropdown element based on abas elements
		 *
		 * @customElement
		 * @polymer
		 */
		class UiAutoComplete extends Polymer.Element {
			static get is() { return 'ui-auto-complete'; }
			static get properties() {
				return {
					label: { type: String },
					placeholder: { type: String },
					items: { type: Array, value: () => { return [] } },
					selectedItem: { type: Object, notify: true },
					_selectedItem: { type: Object },
					actualValue: { type: String, notify: true, value: "" },
					noSideButton: { type: Boolean, value: false },
					hasDeleteButton: { type: Boolean, value: false },
					showDeleteButton: { type: Boolean, computed: "showDelete(hasDeleteButton, actualValue)" },
					readonly: { type: Boolean, value: false }
				};
			}
			static get observers() {
				return [
					 '_presetItem(selectedItem)'
				]
			}

			connectedCallback() {
				super.connectedCallback();
				/*
				 * for nested abas-elements
				 * it's needed to reset them first if they are preset
				 */
				if (this.label) {
					let tmpLabel = this.label;
					this.resetAndInitLabel(tmpLabel);
				}
				if (this.placeholder) {
					let tmpPlaceholder = this.placeholder;
					this.resetAndInitPlaceholder(tmpPlaceholder);
				}
				if (this.items && this.items.length > 0) {
					let tmpItems = this.items;
					this.resetAndInitItems(tmpItems);
				}
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			resetAndInitLabel(value) {
				// reset
				this.set('label', '');
				// init
				this._initAutocompleteLabelDebounce = Polymer.Debouncer.debounce(
					this._initAutocompleteLabelDebounce,
					Polymer.Async.timeOut.after(10),
					() => {
						this.set('label', value)
					}
				)
			}

			resetAndInitPlaceholder(value) {
				// reset
				this.set('placeholder', '');
				// init
				this._initAutocompletePlaceholderDebounce = Polymer.Debouncer.debounce(
					this._initAutocompletePlaceholderDebounce,
					Polymer.Async.timeOut.after(10),
					() => {
						this.set('placeholder', value)
					}
				)
			}

			resetAndInitItems(items) {
				// reset
				this.set('items', []);
				// init
				this._initAutocompleteItemsDebounce = Polymer.Debouncer.debounce(
					this._initAutocompleteItemsDebounce,
					Polymer.Async.timeOut.after(10),
					() => {
						this.set('items', items)
					}
				)
			}

			_presetItem(selectedItem) {
				if (!selectedItem) return;
				// check if it's first time
				if (this._preselectedItem) return;
				this.set('_selectedItem', selectedItem.title)
				this.set('actualValue', selectedItem.title)
			}

			_itemSelected(event) {
				let selectedItem = event.detail[0];
				if (selectedItem === this.selectedItem) return;
				this.set('actualValue', selectedItem.title);
				this.set('selectedItem', selectedItem);
				// console.log("send event")
				// custom event
				let selectEvent = new CustomEvent('item-select', {
					detail: selectedItem,
					bubbles: true,
					composed: true
				})
				this.dispatchEvent(selectEvent)
			}

			_itemDeselected() {
				this.set('actualValue', "")
				this.set('selectedItem', undefined)
			}

			showDelete(hasDeleteButton, actualValue) {
				return (hasDeleteButton && !_.isEmpty(actualValue) ) ? true : false;
			}

			hideSide(noSideButton, showDeleteButton) {
				return (noSideButton || showDeleteButton) ? true : false;
			}

			_updateActualValue(event) {
				this.set('actualValue', _.get(event, 'detail[0]', this.actualValue));
			}

			_resetActualValue(event) {
				this._debounceResetting = Polymer.Debouncer.debounce(
					this._debounceResetting,
					Polymer.Async.timeOut.after(270),
					() => {
						this.set('actualValue', _.get(this.selectedItem, 'title', ''));
					}
				)
			}

		}
		window.customElements.define(UiAutoComplete.is, UiAutoComplete);
	</script>
</dom-module>
