<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="ui-checkbox">
	<template>

		<div>
			<abas-check-box checked$="{{itemChecked}}" on-tap="_itemCheckedChanged">{{label}}</abas-check-box>
		</div>

	</template>

	<script>
		/**
		 * `ui-checkbox`
		 * element to setup a checkbox using abas-elements
		 *
		 * @customElement
		 * @polymer
		 */
		class UiCheckbox extends Polymer.Element {
			static get is() { return 'ui-checkbox'; }
			static get properties() {
				return {
					label: { type: String },
					itemChecked: { type: Boolean, notify: true }
				};
			}
			static get observers() {
				return [
				]
			}

			connectedCallback() {
				super.connectedCallback();
				/*
				 * for nested abas-elements
				 * it's needed to reset them first if they are preset
				 */
				 if (this.label) {
					let tmpLabel = this.label;
					this.resetAndInitLabel(tmpLabel);
				}
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			resetAndInitLabel(value) {
				// reset
				this.set('label', '');
				// init
				this._initAutocompleteLabelDebounce = Polymer.Debouncer.debounce(
					this._initAutocompleteLabelDebounce,
					Polymer.Async.timeOut.after(10),
					() => {
						this.set('label', value)
					}
				)
			}

			_itemCheckedChanged(event) {
				this._changeChecked = Polymer.Debouncer.debounce(
					this._changeChecked,
					Polymer.Async.timeOut.after(10),
					() => {
						this.set('itemChecked', !this.itemChecked)
					}
				)
			}

		}
		window.customElements.define(UiCheckbox.is, UiCheckbox);
	</script>
</dom-module>
