<link rel="import" href="../../polymer/polymer-element.html">

<dom-module id="ui-text-field">
	<template>

		<abas-text-field type$="[[inputType]]" label="[[label]]" value$=[[text]] placeholder$="[[placeholder]]" readonly$="[[readonly]]" 
			required$="[[required]]" min$="[[minlength]]" error-message$="[[errorMessage]]" on-change="_updateText" on-keyup="_keyup">
		</abas-text-field>

	</template>

	<script>
		/**
		 * `ui-text-field`
		 * element to setup an text field element based on abas elements
		 *
		 * @customElement
		 * @polymer
		 */
		class UiTextField extends Polymer.Element {
			static get is() { return 'ui-text-field'; }
			static get properties() {
				return {
					label: { type: String },
					text: { type: String, notify: true },
					inputType: { type: String, value: ""},
					placeholder: { type: String },
					readonly: { type: Boolean, value: false },
					required: { type: Boolean, value: false },
					minlength: {type: Number },
					errorMessage: {type: String, value: '' }
				};
			}
			static get observers() {
				return [
				]
			}

			connectedCallback() {
				super.connectedCallback();
				/*
				 * for nested abas-elements
				 * it's needed to reset them first if they are preset
				 */
				if (this.label) {
					let tmpLabel = this.label;
					this.resetAndInitLabel(tmpLabel);
				}
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			resetAndInitLabel(value) {
				// reset
				this.set('label', '');
				// init
				this._initAutocompleteLabelDebounce = Polymer.Debouncer.debounce(
					this._initAutocompleteLabelDebounce,
					Polymer.Async.timeOut.after(10),
					() => {
						this.set('label', value)
					}
				)
			}

			_updateText(event) {
				this.set('text', _.get(event, 'detail[0]'));
			}

			_keyup(event) {
				// custom event
				let keyupEvent =  new CustomEvent('keyup', {
					detail: event.detail,
					bubbles: true,
					composed: true
				});
				this.dispatchEvent(keyupEvent)
			}


		}
		window.customElements.define(UiTextField.is, UiTextField);
	</script>
</dom-module>