<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../api.html">

<dom-module id="dbquery-input">
	<template>
		<style include="abas-widget-style">
			.hidden {
				display: none !important;
			}

			.tooltip {
				position: relative;
				max-height: 300px;
				width: 100%;
				max-width: 650px;
				overflow: auto;
				background: white;
				z-index: 1;
				border-color: rgba(48,123,150,.3);
				border-style: solid;
				border-width: 1px 1px 1px 1px;
			}
			.tooltip table.queryHelpTable {
				width: 100%;
				overflow: hidden;
			}
			.tooltip table.queryHelpTable tr td,
			.tooltip table.queryHelpTable tr th {
				padding: 5px 10px;
				text-align: left;
			}
			.tooltip table.queryHelpTable tbody tr:nth-child(even) td {
				background: #f0f4f7;
			}
			.tooltip table.queryHelpTable tbody tr:nth-child(odd) td {
				background: #ffffff;
			}
		</style>

		<div>
			<ui-auto-complete label="[[localize('dbqueryInput.template')]]" items="[[templates]]" selected-item="{{_templates}}" has-delete-button></ui-auto-complete>

			<ui-auto-complete label="[[localize('dbqueryInput.label')]]" items="[[dblist]]" selected-item="{{datasource}}"></ui-auto-complete>

			<div class=page id=queryPage>
				<ui-text-field id=dbQueryInput label="[[localize('dbqueryInput.query')]]" text="{{datasource.query}}"
					on-keyup="_updateQueryStringHelp" on-blur="_hideQueryStringHelp" on-focus="_showQueryStringHelp">
				</ui-text-field>
					<div class="tooltip hidden" id=queryStringHelpTooltip>
						<table class="queryHelpTable">
							<thead>
								<tr>
									<th scope="col">[[localize('dbqueryInput.name')]]</th>
									<th scope="col">[[localize('dbqueryInput.type')]]</th>
									<th scope="col">[[localize('dbqueryInput.tablefield')]]</th>
									<th scope="col">[[localize('dbqueryInput.description')]]</th>
								</tr>
							</thead>
							<tbody>
								<template is=dom-repeat items=[[queryHelpItems]]>
									<tr>
										<td>[[item.name]]</td>
										<td>[[item.type.erpType]] - [[item.type.baseType]]</td>
										<td>[[item.tableColumn]]</td>
										<td>[[item.description]]</td>
									</tr>
								</template>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</template>

	<script>
		/**
		 * `dbquery-input`
		 * element to setup the db query request
		 *
		 * @customElement
		 * @polymer
		 * @demo demo/index.html
		 */
		class DbqueryInput extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() { return 'dbquery-input'; }
			static get properties() {
				return {
					company: { type: Object },
					configuration: { type: Object },
					datasourceMetadata: { type: Array , notify: true},
					templates: { type: Array },
					dblist: { type: Array, notify: true, value: () => { return [] } },
					datasource: { type: Object, notify: true },
					_templates: { type: Object, value: {} }
				}
			}

			static get observers() {
				return [
					'_fetchDBList(configuration, company)',
					'_fetchMetadata(datasource, configuration)',
					'_templateSelected(_templates)'
				]
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			_templateSelected(templateSource) {
				if (_.isEmpty(templateSource)) return;
				if (templateSource) {
					// set datasource
					let tableSpec = _.get(templateSource, 'datasource.tableSpec', _.get(templateSource, 'tableSpec', ''));
					// console.log(tableSpec)
					let ds = _.find(this.dblist, { tableSpec: tableSpec });
					if (ds) {
						this.set('datasource', ds);
						if (templateSource.query) {
							this.set('datasource.query', templateSource.query);
						} else if (templateSource.datasource.query) {
							this.set('datasource.query', templateSource.datasource.query);
						}
						// send event for other fields
						const formSource = Object.assign({}, templateSource)
						formSource.title = ds.title;
						formSource.link.href = ds.link.href;
						// add datasource as own property
						formSource.datasource = ds;
						let templateSelectedEvent = new CustomEvent('template-selected', {
							detail: {
								template: formSource
							},
							bubbles: true,
							composed: true
						})
						this.dispatchEvent(templateSelectedEvent)
					}
				}
			}

			_updateQueryStringHelp(event) {
				// console.log(event)
				let inputField = _.get(event, 'detail[0].currentTarget');
				if (!inputField) {
					return;
				}
				let criteriaSeparator =  ';';
				let inputValue = inputField.value;
				let cursorPostion = _.get(event, 'detail[0].currentTarget.selectionStart')
				let parts = inputValue.split(criteriaSeparator).map((criteria) => {
					let token = {
						criteria: criteria,
						property: criteria.split('=')[0],
						index: inputValue.indexOf(criteria),

					}
					token.current = cursorPostion <= (token.index + criteria.length)
					return token
				});

				let currentCriteria = parts.find((p) => { return p.current; })
				if (!currentCriteria) {
					this.set('queryHelpItems', this.datasourceMetadata)
					return
				}
				let properties = this.datasourceMetadata.filter((entry) => {
					return entry.name.match(currentCriteria.property)
				});

				properties.sort((a, b) => {
					let aHit = a.name.startsWith(currentCriteria.property)
					let bHit = b.name.startsWith(currentCriteria.property)
					if (aHit === bHit) { return 0 }
					return (aHit) ? -1 : 1
				})

				this.set('queryHelpItems', properties)
			}

			_showQueryStringHelp() {
				this.$.queryStringHelpTooltip.classList.remove('hidden')
			}
			_hideQueryStringHelp() {
				this.$.queryStringHelpTooltip.classList.add('hidden')
			}

			_fetchDBList(_configuration, company){
				if (!_configuration || !company) return;

				this._initDBDebounce = Polymer.Debouncer.debounce(
					this._initDBDebounce,
					Polymer.Async.timeOut.after(10),
					() => {
						abasWidgets.API.fetchDatabases({
							erpBaseUrl: _.get(_configuration, 'api.erpBaseURL'),
							companyHref: company.href
						}).then((dblist) => {
							this.set('dblist', dblist)
						})
					})
			}

			_fetchMetadata(datasource) {
				if (!datasource || _.isEmpty(datasource.tableSpec) || !this.company ||  !this.configuration) {
					return
				}

				const erpBaseUrl = _.get(this.configuration, 'api.erpBaseURL')
				const datasourceHref = this.company.href + "/obj/meta/" + datasource.tableSpec;

				abasWidgets.API.fetchMetadata({
					erpBaseUrl: erpBaseUrl,
					datasourceHref: datasourceHref
				}).then((metadata) => {
					this.set('datasourceMetadata', metadata);
				})

			}

		}
		window.customElements.define(DbqueryInput.is, DbqueryInput);
	</script>
</dom-module>