<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../../paper-toast/paper-toast.html">
<link rel="import" href="../PollingBehavior.html">
<link rel="import" href="../ui-elements/ui-checkbox.html">
<link rel="import" href="../ui-elements/ui-text-field.html">
<link rel="import" href="../ui-elements/ui-auto-complete.html">


<dom-module id="polling-input-with-elements">
	<template>
		<style include="abas-widget-style">
			.pollingInput {
				margin: 0 -5px;
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-items: center;
			}

			.pollingInput-item {
				margin: 0 5px;
			}

			.pollingValueInput {
				max-width: 45px;
			}

			.pollingUnitInput {
				max-width: 80px;
			}

			.pollingLabel {
				margin-top: 20px;
				color: #777d81;
			}

			.pollingCheckbox {
				margin-top: 18px;
				margin-left: 12px;
			}

			.pollingOpacity {
				opacity: 0.5;
			}

			paper-toast {
				--paper-toast-background-color: #fce8ec;
				--paper-toast-color: #e42346;
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
				align-items: center;
			}
		</style>

		<div id="pollingInput" class="pollingInput">
			<div id="pollingTitle" class="pollingInput-item pollingLabel">
				[[localize('pollingInputWithElements.title')]]:
			</div>
			<div id="pollingValueInput" class="pollingInput-item pollingValueInput">
				<ui-text-field label="[[localize('pollingInputWithElements.value')]]" text="{{pollingValue}}"></ui-text-field>
			</div>
			<div id="pollingUnitInput" class="pollingInput-item pollingUnitInput">
				<ui-auto-complete label="[[localize('pollingInputWithElements.unit')]]" items=[[pollingUnits]] selected-item={{selectedUnit}} on-item-select="_selectedUnitChanged"></ui-auto-complete>
			</div>
			<div class="pollingInput-item pollingCheckbox">
				<ui-checkbox item-checked="{{polling.disabled}}" on-tap="_pollingCheckboxChanged" label="[[localize('pollingInputWithElements.checkbox.deactivated')]]"></abas-check-box>
			</div>
			<div class="pollingToaster">
				<paper-toast id="toast" duration="5000">
					<div class="toastIcon">
						<iron-icon icon="error"></iron-icon>
					</div>
					<div class="errorMessage">
						[[toasterError]]
					</div>
				</paper-toast>
			</div>
		</div>		


	</template>

	<script>
		/**
		 * `polling-input-with-elements`
		 * element to setup the polling interval with abas elements
		 *
		 * @customElement
		 * @polymer
		 * @demo demo/index.html
		 */
		class PollingInputWithElements extends abasWidgets.PollingSettingsBehavior(Polymer.AbasLocalizeMixin(Polymer.Element)) {
			static get is() { return 'polling-input-with-elements'; }
			static get properties() {
				return {
					pollingUnits: {
						type: Array,
						value: () => { return [ {title: "min"}, {title: "h"} ] }
					}
				};
			}
			static get observers() {
				return [
					'_pollingValueChanged(pollingValue)'
				];
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			_pollingValueChanged(pollingValue) {
				if (isNaN(pollingValue) || pollingValue == "") {
					this.set('toasterError', this.localize('pollingInputWithElements.error.nan'));
					this.$.toast.open();
					this.set('pollingValue', 1);
					return;
				}
			}

			_pollingCheckboxChanged(event) {
				//inversed because value has not changed here yet
				if (!event.currentTarget.itemChecked) {
					this.addOpacity();
				} else {
					this.removeOpacity();
				}
			}

			_selectedUnitChanged(){
				this.set('pollingUnit', this.selectedUnit.title);
			}
		}
		window.customElements.define(PollingInputWithElements.is, PollingInputWithElements);
	</script>
</dom-module>