<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../ui-elements/ui-auto-complete.html">
<link rel="import" href="../ui-elements/ui-checkbox.html">
<link rel="import" href="../ui-elements/ui-text-field.html">
<link rel="import" href="ui-outputtable-settings.html">
<link rel="import" href="ui-erp-command-builder.html">

<dom-module id="ui-clickaction">
	<template>
		<abas-config-meta data="{{_configuration}}"></abas-config-meta>
		<style include="abas-widget-style">
			.hidden {
				display: none !important;
			}
			.flex-container-horizontal {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				justify-content: flex-start;
			}
			.center {
				align-items: center;
			}
			.flex-item {
				flex-grow: 1;
				flex-shrink: 1;
				max-width: 650px;
				flex-basis: auto;
			}
			.commandBuilder {
				padding-top: 20px;
				padding-left: 2px;
			}
		</style>

		<div class="selector">
			<ui-auto-complete label="[[localize('uiClickaction.label')]]" items=[[_actions]] selected-item={{_clickAction}} on-item-select='_clickActionChanged'></ui-auto-complete>
		</div>
		<div id="fields" class="fields">
			<!-- Clickaction: update current dashboard -->
			<template is="dom-if" if="[[_isToDisplay('update', _clickAction)]]">
				<div class="flex-container-horizontal">
					<div class="flex-item">
						<ui-text-field label="[[localize('uiClickaction.button.group')]]" text="{{clickAction.group}}"></ui-text-field>
					</div>
					<ui-checkbox label="[[localize('uiClickaction.default')]]" item-checked="{{clickAction.isDefault}}"></ui-checkbox>
				</div>
				<ui-publications input="[[inputObject]]" publications="{{clickAction.value}}" without-object="[[withoutObject]]"></ui-publications>
			</template>
			<!-- Clickaction: open in erp -->
			<template is="dom-if" if="[[_isToDisplay('erp', _clickAction)]]">
				<div class="flex-container-horizontal center">
					<div class="flex-item">
						<ui-text-field label="[[localize('uiClickaction.erp.command')]]" text="{{clickAction.value}}"></ui-text-field>
					</div>
					<ui-erp-command-builder class="commandBuilder" type="icon" company="[[company]]" settings="{{_erpCommandSettings}}"
						subscriptions="[[subscriptions]]" erp-command="{{clickAction.value}}"></ui-erp-command-builder>
				</div>
			</template>
			<!-- Clickaction: open another dashboard -->
			<template is="dom-if" if="[[_isToDisplay('dashboard', _clickAction)]]">
				<ui-auto-complete label="[[localize('uiClickaction.dashboard')]]" items="[[_dashboards]]" selected-item="{{clickAction.value}}"></ui-auto-complete>
			</template>
			<!-- Clickaction: open external link (url) -->
			<template is="dom-if" if="[[_isToDisplay('link', _clickAction)]]">
				<ui-text-field label="[[localize('uiClickaction.external.link')]]" text="{{clickAction.value}}"></ui-text-field>
			</template>
			<!-- Clickaction: listings -->
			<template is="dom-if" if="[[_isToDisplay('listings', _clickAction)]]">
				<ui-outputtable-settings datasource-type="[[datasourceType]]" possible-fields="[[listingsFields]]" 
					selected-fields="{{listingsConfig}}" show-headfields="{{showHeadfields}}">
				</ui-outputtable-settings>
			</template>
		</div>

	</template>

	<script>
		/**
		 * `ui-clickaction`
		 * component to select the action happening on click 
		 *
		 * @customElement
		 * @polymer
		 *
		 * <ui-clickaction company=[[company]] click-action={{clickAction}} input-object=[[inputObject]] subscriptions=[[subscriptions]]></ui-clickaction>
		 */
		class UiClickaction extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() { return 'ui-clickaction'; }

			static get properties() {
				return {
					company: { type: Object },
					subscriptions: { type: Array, value: () => { return [] }, notify: true },
					clickAction: { type: Object, notify: true },
					inputObject: { type: Object, value: () => { return {} } },
					withoutObject: { type: Boolean },
					_actions: { type: Array, value: () => { return [] } },
					_clickAction: { type: Object, value: {} },
					_dashboards: { type: Array, value: () => { return [] } },
					_erpCommandSettings: { type: Object },
					hasUpdate: { type: Boolean, value: true },
					hasDashboard: { type: Boolean, value: true },
					hasErp: { type: Boolean, value: true },
					hasLink: { type: Boolean, value: true },
					hasListings: { type: Boolean, value: false },
					listingsFields: { type: Array, value: () => { return [] } },
					listingsConfig: { type: Array, value: () => { return [] }, notify: true },
					datasourceType: { type: String },
					showHeadfields: { type: Boolean, value: () => { return true }, notify: true }
				};
			}
			static get observers() {
				return [
					'_initActions(_configuration, resources)',
					'_clickActionReset(clickAction)'
				]
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			_isToDisplay(expected, actual) {
				if (!actual) return false;
				return expected === actual.type
			}

			_setDashboards(conf) {
				let url = conf.api.dashboardBaseURL
				auth0Fetch(`${url}/api/v2/dashboards?defaults=true&short=true`, {
					method: "GET"
				}).then((response) => {
					if(response.ok) {
						return response.json();
					}
					throw new Error(response);
				}).then(result => {
					this.set('_dashboards', result);
				})
			}

			_clickActionReset(clickAction) {
				this.set('_clickAction', this.clickAction)
			}

			_clickActionChanged(event) {
				switch (this._clickAction.type) {
					// arrays
					case 'update':
						this._clickAction['value'] = [];
						break;
					// object
					case 'dashboard':
						this._clickAction['value'] = {};
						break;
					// string
					case 'erp':
					case 'link':
						this._clickAction['value'] = '';
						break;
				}
				this.set('clickAction', this._clickAction)
			}

			_initActions(conf, resources) {
				if (!resources || !conf) return;

				let _actions = [{ type: "none", title: this.localize('uiClickaction.none.title'), description: this.localize('uiClickaction.none.description') }];
				if(this.hasUpdate) { _actions.push({ type: "update", title: this.localize('uiClickaction.update.title'), description: this.localize('uiClickaction.update.description') })}
				if(this.hasErp) { _actions.push({ type: "erp", title: this.localize('uiClickaction.erp.title'), description: this.localize('uiClickaction.erp.description') })}
				if(this.hasDashboard) { _actions.push({ type: "dashboard", title: this.localize('uiClickaction.dashboard.title'), description: this.localize('uiClickaction.dashboard.description') })}
				if(this.hasLink) { _actions.push({ type: "link", title: this.localize('uiClickaction.link.title'), description: this.localize('uiClickaction.link.description' ) })}
				if(this.hasListings) { _actions.push({ type: "listings", title: this.localize('uiClickaction.listings.title'), description: this.localize('uiClickaction.listings.description') })}

				this.set('_actions', _actions)
				this.set('_clickAction', this.clickAction)
				this._setDashboards(conf)
			}

		}
		window.customElements.define(UiClickaction.is, UiClickaction);
	</script>
</dom-module>
