<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../../aba-js-imports/postaljs-import.html">
<link rel="import" href="../../abas-dashboard-state/abas-dashboard-state.html">
<link rel="import" href="../ui-elements/index.html">

<dom-module id="ui-companyselector">
	<template>
		<style include="abas-widget-style">
			#layout {
				display: flex;
				align-items: flex-end;
			}
		</style>
		<div id="layout">
			<ui-auto-complete label="[[localize('uiCompanyselector.label')]]" items="[[companies]]"
				selected-item="{{selectedCompany}}"></ui-auto-complete>
			<ui-checkbox item-checked="{{selectedCompany.fixed}}" label="[[localize('uiCompanyselector.fixed')]]"></ui-checkbox>
		</div>
	</template>
	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class UiCompanySelector extends Polymer.AbasLocalizeMixin(Polymer.Element) {

			static get is() { return 'ui-companyselector'; }

			static get properties() {
				return {
					selectedCompany: {
						type: Object,
						notify: true
					},
					companies: {
						type: Array,
						value: () => { return [] }
					}
				};
			}

			static get observers() {
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
				AbasDashboardState.userInfo.then(this.onUserInfo.bind(this));
			}
		   
			onUserInfo(userInfoList, _envelope) {
				let clients = _.map(userInfoList, 'client');
				clients.forEach(client => {
					client.title = client.id
				});
				this.set('companies', clients)
			}

		}
		window.customElements.define(UiCompanySelector.is, UiCompanySelector);
	</script>
</dom-module>