<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../../abas-styles/abas-styles.html">
<link rel="import" href="../../paper-swatch-picker/paper-swatch-picker.html">
<link rel="import" href="../ui-elements/index.html">

<dom-module id="ui-color-picker">
	<template>
		<style include="abas-widget-style">
			paper-swatch-picker {
				--paper-swatch-picker-color-size: 54px;
			}
		</style>
		<div>
			<paper-swatch-picker color="{{color}}" column-count=[[columnCount]] color-list="[[colorList]]"></paper-swatch-picker>
		</div>
	</template>
	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class UiColorPicker extends Polymer.AbasLocalizeMixin(Polymer.Element) {

			static get is() { return 'ui-color-picker'; }

			static get properties() {
				return {
					color: {
						type: String,
						notify: true
					},
					colorList: {
						type: Array,
						notify: true,
						//direct assignment of color values (and not reading the variables), 
						//because otherwise some timing problem occured and the picker did not work properly
						//also added new colors, because yellow was missing
						value: ["#000000", "#555d61", "#777d81", "#cccccc", "#e5e5e5", "#76d6c8", "#1bbba3", "#307b96", "#57a0ba", "#008000", "#13ab0e", "#18d612", "#c7f3b9", "#fff3bf", "#ffff00" ,"#f9dd2a", "#ffb324", "#e42346", "#e94f6b", "#ef7b90"]
					},
					columnCount: {
						type: Number,
						value: 5
					},
				};
			}

			static get observers() {
				return ['_checkColor(color)']
			}

			_checkColor(color){
				if(!_.includes(this.colorList, color)){
					this.set('color', "#000000"); 
				}
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}
		}
		window.customElements.define(UiColorPicker.is, UiColorPicker);
	</script>
</dom-module>