<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../ui-elements/ui-auto-complete.html">

<dom-module id="ui-db-subscriptions">
	<template>
		<abas-config-meta data="{{_configuration}}"></abas-config-meta>
		<style>
			.wrapper {
				display: inline-block;
				width: 100%;
				/* autocompletes max */
				max-width: 650px;
			}
			.flex-container-vertical {
				display: flex;
				flex-direction: column;
			}
			.flex-container-horizontal {
				display: flex;
				flex-direction: row;
			}
			.flex-item {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: auto;
			}
			.text-align-center {
				text-align: center;
			}

			table.dataTable {
				width: 100%;
				border-collapse: collapse;
			}
			table.dataTable thead tr th {
				position: sticky;
				top: -8px;
				background: white;
				color: #777d81;
				font-size: 10px;
				white-space: nowrap;
				font-weight: normal;
				text-decoration: underline;
				padding: 2px 4px 2px;
			}
			table.dataTable tbody tr td {
				border-width: 0px 0 0px 0;
				border-style: solid;
				border-color: #cccccc;
				font-size: 12px;
				font-weight: normal;
				color: #2a3539;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100px;
				border-right-width: 1px;
				padding: 1px 4px;
			}
			table.dataTable tbody tr td:first-child {
				border-left-width: 1px;
			}
			table.dataTable tbody tr:last-of-type td {
				border-bottom-width: 1px;
			}
			table.dataTable tbody tr:first-child td {
				border-top-width: 1px;
			}
			table.dataTable tbody tr:nth-child(even) td {
				background: #f0f4f7;
			}
			table.dataTable tbody tr:nth-child(odd) td {
				background: #ffffff;
			}
			table.dataTable tbody tr:hover td {
				background: #e4f5f2;
			}
			.addButton {
				width: fit-content;
			}
		</style>

		<div class="wrapper">
			<div class="flex-container-vertical">
				<div class="addButton">
					<abas-function-button on-tap="_addSubscription">[[localize('uiDbSubscriptions.add')]]</abas-function-button>
				</div>
				<table class="dataTable">
					<thead>
						<tr>
							<th scope="col">[[localize('uiDbSubscriptions.fieldname')]]</th>
							<th scope="col">[[localize('uiDbSubscriptions.topics')]]</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<template is="dom-repeat" items="[[subscriptions]]" as="subscription">
							<tr>
								<td>
									<ui-text-field label="[[localize('uiDbSubscriptions.fieldname')]]" text="{{subscription.name}}"></ui-text-field>
								</td>
								<td>
									<div class="flex-container-horizontal">
										<template is="dom-repeat" items="[[subscription.topics]]" as="topic" index-as="topic_index" sub="[[index]]">
											<abas-function-button icon="times" on-tap="_deleteTopic" title="[[topic]]">[[topic]]</abas-function-button>
										</template>
									</div>
									<ui-auto-complete label="[[localize('uiDbSubscriptions.subscribe.to.database')]]" items="[[databases]]" on-item-select="_addTopic">
									</ui-auto-complete>
								</td>
								<td style="width: 15em" class="text-align-center" title="[[localize('uiDbSubscriptions.remove')]]">
									<abas-icon icon="trashAlt" on-tap="_onTapDeleteSubscription"></abas-icon>
								</td>
							</tr>
						</template>
					</tbody>
				</table>
			</div>
		</div>

	</template>

	<script>
		/**
		 * `ui-db-subscriptions`
		 * component to setup subscriptions
		 *
		 * @customElement
		 * @polymer
		 *
		 * <ui-db-subscriptions databases={{databases}} subscriptions={{subscriptions}}></ui-db-subscriptions>
		 */
		class UiDbSubscriptions extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() { return 'ui-db-subscriptions'; }
			static get properties() {
				return {
					databases: { type: Array, value: () => { return [] } },
					subscriptions: { type: Array, value: () => { return [] }, notify: true }
				};
			}
			static get observers() {
				return [
				]
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			_addSubscription() {
				this.push('subscriptions', { name: "", topics: [] });
			}

			_addTopic(event) {
				const index = event.model.__data.index;
				let selectedDatabase = event.detail;

				if (_.isEmpty(selectedDatabase.tableSpec)) return;
				if (this.subscriptions[index].topics.includes(selectedDatabase.tableSpec)) return;

				this.push(`subscriptions.${index}.topics`, selectedDatabase.tableSpec);
			}

			_deleteTopic(event) {
				const index = event.model.__data.topic_index;
				const parentIndex = event.model.parentModel.__data.index;
				// console.log(this.subscriptions[parentIndex].topics[index]);
				this.splice(`subscriptions.${parentIndex}.topics`, index, 1);
			}

			_onTapDeleteSubscription(event) {
				const index = event.model.__data.index;
				this.splice('subscriptions', index, 1);
			}

		}
		window.customElements.define(UiDbSubscriptions.is, UiDbSubscriptions);
	</script>
</dom-module>
