<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-widget-style/abas-widget-style.html">

<dom-module id="ui-datasource-switcher">
	<template>
		<style include="abas-widget-style">
			.switcher {
				display: flex;
			}
			.switcherDivs {
				display: flex;
				align-items: center;
				height: 28px;
				border: 1px solid rgba(48, 123, 150, 0.3);
				padding-left: 3px;
				padding-right: 3px;
			}
			.backgroundSwitcher {
				background-color: var(--abas-catskill-white);
			}
			.label {
				font-size: 12px;
				color: var(--abas-rolling-stone);
			}
		</style>

		<div class="label">[[localize('uiDatasourceSwitcher.switcher.label')]]</div>
		<div class="switcher">
			<div id="infosystemSwitcher" class="switcherDivs" on-tap="_chooseInfosystem">[[localize('uiDatasourceSwitcher.infosystem')]]</div>
			<div id="dbquerySwitcher" class="switcherDivs" on-tap="_chooseDbquery">[[localize('uiDatasourceSwitcher.database')]]</div>
		</div>

	</template>

	<script>
		/**
		 * `ui-datasource-switcher`
		 * component to switch between infosystem and db selection
		 *
		 * @customElement
		 * @polymer
		 *
		 * <ui-datasource-switcher selected-datasource={{selectedDatasource}}></ui-datasource-switcher>
		 */
		class UiDatasourceSwitcher extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() { return 'ui-datasource-switcher'; }
			static get properties() {
				return {
					selectedDatasource: { type: String, value: 'infosystem', notify: true }

				};
			}
			static get observers() {
				return [
					"_setupSwitcher(selectedDatasource)"
				]
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			_setupSwitcher(selectedDatasource){
				if (selectedDatasource === "infosystem") {
					this.$.infosystemSwitcher.classList.add('backgroundSwitcher');
					this.$.dbquerySwitcher.classList.remove('backgroundSwitcher');
				} else {
					this.$.infosystemSwitcher.classList.remove('backgroundSwitcher');
					this.$.dbquerySwitcher.classList.add('backgroundSwitcher');
				}
			}

			_chooseInfosystem(event) {
				this.$.infosystemSwitcher.classList.add('backgroundSwitcher');
				this.$.dbquerySwitcher.classList.remove('backgroundSwitcher');
				this.set('selectedDatasource', "infosystem")
			}

			_chooseDbquery(event) {
				this.$.infosystemSwitcher.classList.remove('backgroundSwitcher');
				this.$.dbquerySwitcher.classList.add('backgroundSwitcher');
				this.set('selectedDatasource', "dbquery")
			}

		}
		window.customElements.define(UiDatasourceSwitcher.is, UiDatasourceSwitcher);
	</script>
</dom-module>
