<link rel="import" href="../../polymer/polymer-element.html">

<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../../iron-icons/av-icons.html">
<link rel="import" href="../../iron-icons/hardware-icons.html">
<link rel="import" href="../../iron-icons/social-icons.html">
<link rel="import" href="../../iron-icons/maps-icons.html">

<link rel="import" href="../../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../paper-listbox/paper-listbox.html">
<link rel="import" href="../../paper-item/all-imports.html">

<dom-module id="ui-icon-picker">
	<template>
		<style>
			.icon {
				color: var(--green, #1bbba3)
			}
			.icon:hover {
				color: var(--grey, #2a3539);
			}
			paper-listbox {
				border: 10px var(--green, #1bbba3);
				padding: 0;
				font-size: 0;
				overflow: hidden;
				display: flex;
				flex-wrap: wrap;
				width: 350px;
				max-height: 50vh;
				overflow: visible;
			}
			paper-item-body {
				cursor: pointer;
			}
			paper-icon-button {
				width: 50px;
				height: 50px;
				--paper-icon-button-ink-color: var(--green, #1bbba3);
			}
			paper-icon-button:hover {
				background-color: var(--green, #1bbba3);
				border-radius: 90%;
			}
		</style>

		<paper-menu-button horizontal-align="left" vertical-align="bottom" noOverlap="true" >
			<paper-icon-button title="[[localize('uiIconPicker.changeIcon')]]" slot="dropdown-trigger" icon="[[selectedIcon]]"></paper-icon-button>
			<paper-listbox slot="dropdown-content">
				<template is="dom-repeat" items="[[iconSet.entries]]" as="icon">
					<paper-item>
						<paper-item-body>
							<iron-icon class="icon" icon="[[icon]]" on-tap="_iconSelected"></iron-icon>
						</paper-item-body>
					</paper-item>
				</template>
			</paper-listbox>
		</paper-menu-button>

	</template>
	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class UiIconPicker extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() {
				return "ui-icon-picker";
			}

			static get properties() {
				return {
					selectedIcon: {
						type: String,
						notify: true,
						value: "icons:home"
					},
					availableIcons: {
						type: String,
						value: "base",
						observer: "_setIconSet"
					},
					iconSet: {
						type: Object
					}
				};
			}

			_iconSelected (event) {
				this.set("selectedIcon", event.model.__data.icon);
			}

			// Available: base, all
			_setIconSet () {
				auth0Fetch(this.resolveUrl(`assets/ui-icon-picker/icons.json`)).then((resp) => {
					if (resp.ok) return resp.json();
					throw new Error;
				}).then( (iconSet) => {
					this.set("iconSet", iconSet[this.availableIcons]);
				}).catch( (error) => {
					if (this.availableIcons != "base") this.set("availableIcons", "base");
				});
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + "../locales.json"));
			}
		}
		window.customElements.define(UiIconPicker.is, UiIconPicker);
	</script>
</dom-module>