<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../../paper-icon-button/paper-icon-button.html">

<dom-module id="ui-identifier-picker">
	<template>
		<style>
			.wrapper {
				display: flex;
				flex-direction: column;
				margin-top: 8px
			}
			.item {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				margin: 3px;  
			}
			.deselected {
				opacity: 0.5;
			}
			.deselected:focus-within {
				opacity: 1;
			}
		</style>

	<div class="wrapper">
		<div class="item">[[label]]</div>
		<div class="item">
			<ui-text-field label="[[_userLabel]]" text="{{userValue}}" class$="{{getClassesUser(userDefault)}}"></ui-text-field>
			<paper-icon-button icon="compare-arrows" on-tap="switchFallback"></paper-icon-button>
			<ui-auto-complete label="[[_fieldLabel]]" items="[[items]]"
			selected-item="{{fieldSelection}}" class$="{{getClassesField(userDefault)}}"></ui-auto-complete>
		</div>
	</div>

	</template>
	<script>
		/**
		 * @customElement
		 * @polymer
		 *
		 * Usage example:
		 * <ui-identifier-picker label="[[localize('settings.xAxisLabel')]]" items=[[_outputfields]] user-value="{{datasource.graph.labelXAxis.userValue}}" field-Selection="{{datasource.graph.labelXAxis.fieldSelection}}" user-default="{{datasource.graph.labelXAxis.userDefault}}"></ui-identifier-picker>
		 */
		class UiIdentifierPicker extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			constructor() {
				super();
				this.loadResources(this.resolveUrl(this.importPath + "../locales.json"));
				this.userDefault = true;
				this.fieldSelection = {};
				this.userValue = "";
				this.items = [];
				this.label = "";
				this._userLabel = "";
				this._fieldLabel = "";
			}
			static get is() {
				return "ui-identifier-picker";
			}
			static get properties() {
				return {
					label: { type: String },
					items: { type: Array },
					_userLabel: { type: String },
					_fieldLabel: { type: String },
					userValue: { type: String, notify: true },
					fieldSelection: { type: Object, notify: true },
					userDefault: { type: Boolean, notify: true }
				};
			}

			static get observers() {
				return [
					"_setLabels(userDefault, localize)"
				];
			}

			connectedCallback() {
				super.connectedCallback();
			}

			switchFallback() {
				this.set("userDefault", this.userDefault ? false : true);
			}

			_setLabels(userDefault, localize) {
				if (typeof this.localize !== "function") return
				if (!userDefault) {
					this.set("_userLabel", this.localize("uiIdentifier.usersecondary"));
					this.set("_fieldLabel", this.localize("uiIdentifier.fieldprimary"));
				}
				if (userDefault) {
					this.set("_userLabel", this.localize("uiIdentifier.userprimary"));
					this.set("_fieldLabel", this.localize("uiIdentifier.fieldsecondary"));
				}
			}

			getClassesUser(userDefault) {
				return userDefault ? "" : "deselected";
			}
			getClassesField(userDefault) {
				return userDefault ? "deselected" : "";
			}
		}
		window.customElements.define(UiIdentifierPicker.is, UiIdentifierPicker);
	</script>
</dom-module>