<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../ui-elements/index.html">
<dom-module id="ui-outputtable-settings">
	<template>
		<style>
			table.settingsTable tbody td {
				padding: 0 10px;
			}

			table.settingsTable {
				width: 99%;
				border-collapse: collapse;
			}

			table.settingsTable thead tr th {
				color: #777d81;
				font-size: 12px;
				white-space: nowrap;
				font-weight: normal;
				text-decoration: underline;
				padding: 6px 8px 2px;
			}

			table.settingsTable tbody tr td {
				border-width: 0px 0 0px 0;
				border-style: solid;
				border-color: #cccccc;
				font-size: 14px;
				font-weight: normal;
				color: #2a3539;
				border-right-width: 1px;
				/* padding: 6px 8px; */
			}

			table.settingsTable tbody tr td:first-child {
				border-left-width: 1px;
			}

			table.settingsTable tbody tr:last-of-type td {
				border-bottom-width: 1px;
			}

			table.settingsTable tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.settingsTable tbody tr:nth-child(even) td {
				background: #f0f4f7;
			}

			table.settingsTable tbody tr:nth-child(odd) td {
				background: #ffffff;
			}

			table.settingsTable tbody tr:hover td {
				background: #e4f5f2;
			}

			.flexbox {
				display: flex;
				justify-content: center;
			}
			.flex {
				display: flex;
				align-items: flex-end;
			}
		</style>
		<div>
			<div class="flex">
				<ui-auto-complete label="[[localize('uiOutputtable.selectofc')]]" items="[[listOfOutputfields]]"
					on-item-select="fieldSelected" selected-item="{{selectedField}}">
				</ui-auto-complete>
				<template is="dom-if" if="[[databaseEquals(datasourceType)]]">
					<ui-checkbox label="[[localize('uiOutputtable.showHeadfields')]]" item-checked="{{showHeadfields}}" on-tap="switchHeadAndTable"></ui-checkbox>
					<ui-checkbox label="[[localize('uiOutputtable.showTablefields')]]" item-checked="{{!showHeadfields}}" on-tap="switchHeadAndTable"></ui-checkbox>
				</template>
			</div>

			<table class="settingsTable">
				<thead>
					<tr>
						<th scope="col" style="width: 30px"></th>
						<th scope="col">[[localize('uiOutputtable.visible')]]</th>
						<th scope="col">[[localize('uiOutputtable.fieldname')]]</th>
						<th scope="col">[[localize('uiOutputtable.title')]]</th>
						<th scope="col">[[localize('uiOutputtable.align')]]</th>
						<th scope="col">[[localize('uiOutputtable.function')]]</th>
						<th scope="col">[[localize('uiOutputtable.publish')]]</th>
						<th scope="col">[[localize('uiOutputtable.wideColumn')]]</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<template is="dom-repeat" items="[[selectedFields]]" as="field">
						<tr>
							<td>
								<div style="float: right;">
									<template is="dom-if" if="{{_indexIsNotEqual(index, selectedFieldsLastIndex)}}">
										<abas-icon icon="caretDown" on-tap="moveFieldDown" />
									</template>
								</div>
								<div style="float: left;">
									<template is="dom-if" if="{{_indexIsNotEqual(index, 0)}}">
										<abas-icon icon="caretUp" on-tap="moveFieldUp" />
									</template>
								</div>
							</td>
							<td>
								<div class="flexbox">
									<ui-checkbox label="S" item-checked="{{field.visible.s}}"></ui-checkbox>
									<ui-checkbox label="M" item-checked="{{field.visible.m}}"></ui-checkbox>
									<ui-checkbox label="L" item-checked="{{field.visible.l}}"></ui-checkbox>
								</div>
							</td>
							<td>
								<paper-input type="text" value="{{field.property}}"></paper-input>
							</td>
							<td>
								<ui-text-field label="" text="{{field.caption}}"></ui-text-field>
							</td>
							<td>
								<ui-auto-complete items="[[alignValues]]" selected-item="{{field.align}}">
								</ui-auto-complete>
							</td>
							<td>
								<ui-auto-complete class="function-auto-complete" items="[[fmtFunctions]]"
									selected-item="{{field.fmtFnc}}"></ui-auto-complete>
							</td>
							<td>
								<div class="flexbox">
									<ui-checkbox item-checked="{{field.publish}}"></ui-checkbox>
								</div>
							</td>
							<td>
								<div class="flexbox">
									<ui-checkbox item-checked="{{field.wideColumn}}"></ui-checkbox>
								</div>
							</td>
							<td>
								<abas-function-button icon="trashAlt" on-tap="removeField">
								</abas-function-button>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
	</template>
	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class UiOutputtableSettings extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() { return 'ui-outputtable-settings' }
			static get properties() {
				return {
					selectedFields: {
						type: Array,
						value: [],
						observer: '_updateLastIndex',
						notify: true
					},
					possibleFields: {
						type: Array,
						value: []
					},

					fmtFunctions: {
						type: Array,
						value: () => {
							return []
						}
					},
					alignValues: {
						type: Array,
						value: () => {
							return []
						}
					},
					selectedFieldsLastIndex: {
						type: Number,
						value: 0
					},
					datasourceType: {
						type: String
					},
					showHeadfields: {
						type: Boolean,
						value: () => { return true },
						notify: true
					}
				}
			}
			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}

			static get observers() {
				return [
					'setupOutputfields(showHeadfields, datasourceType, possibleFields)',
					'_checkVisibility(selectedFields)',
					'_initValues(resources)',
					'_translateComboboxes(selectedFields, fmtFunctions, alignValues)'
				]
			}

			_checkVisibility(selectedFields){
				//check format of visible, if old one (only true/false), set to new format (object with size s, m and l)
				if(!selectedFields || _.isEmpty(selectedFields)) return;
				selectedFields.forEach((field,index) => {
					if(_.isBoolean(field.visible)){
						this.selectedFields[index].visible = { s: field.visible, m: field.visible, l: field.visible}
					}
				})
			}

			fieldSelected(event) {
				const field = _.get(event, 'detail')
				if (!field) {
					return;
				}
				const ofc = {
					property: field.name,
					tableField: field.tableColumn,
					caption: field.meaning,
					visualType: '',
					align: (field.type.baseType === 'STRING') ? _.find(this.alignValues, { id: 'left' }) : _.find(this.alignValues, { id: 'right' }),
					fmtFnc: _.find(this.fmtFunctions, { id: 'concat' }),
					visible: { s: true, m: true, l: true},
					publish: true,
					wideColumn: false
				}
				this.push('selectedFields', ofc)
				this.set('selectedField', "")
				this._updateLastIndex(this.selectedFields)
			}

			setupOutputfields(showHeadfields, datasourceType, possibleFields){
				this.set('listOfOutputfields', possibleFields)

				if(datasourceType && datasourceType === "dbquery") {
					const headField = function (meta) {
						return !meta.tableColumn
					}
					
					const tableField = function (meta) {
						return meta.tableColumn
					}
					
					const fieldFilter = showHeadfields ? headField : tableField
					
					this.set('listOfOutputfields', possibleFields
						.filter(fieldFilter));
				}
			}

			switchHeadAndTable(){
				this.splice('selectedFields', 0);
				let ofc = {
					property: 'id',
					tableField: false,
					caption: 'ID',
					sortable: false,
					align: _.find(this.alignValues, { id: 'right' }),
					fmtFnc: _.find(this.fmtFunctions, { id: 'concat' }),
					visible: {s: false, m: false, l: false},
					publish: true,
					wideColumn: false
				};
				//showHeadfields has not changed here yet, thats why its inversed
				ofc.property = this.showHeadfields ? 'zid' : 'id'
				ofc.tableField = this.showHeadfields;
				this.push('selectedFields', ofc)
				this.dispatchEvent(new CustomEvent('switch-fieldtype', {
					composed: true,
					bubbles: true,
					detail: {
						value: !this.showHeadfields
					}
				}));
			}

			moveFieldDown(event) {
				const index = event.model.__data.index;
				const tmp = this.splice('selectedFields', index, 1)[0];
				this.splice('selectedFields', index + 1, 0, tmp);
			}

			moveFieldUp(event) {
				const index = event.model.__data.index;
				if (index == 0) return;
				const tmp = this.splice('selectedFields', index, 1)[0];
				this.splice('selectedFields', index - 1, 0, tmp);
			}

			removeField(event) {
				const index = event.model.__data.index;
				this.splice('selectedFields', index, 1);
			}

			_updateLastIndex(selectedFields) {
				if (this.selectedFields && this.selectedFields.length > 0) {
					this.set('selectedFieldsLastIndex', this.selectedFields.length - 1);
				}
			}

			_indexIsNotEqual(a, b) {
				return a != b;
			}

			databaseEquals(datasourceType){
				return datasourceType === "dbquery";
			}

			_initValues(resources) {
				if (!resources) return;

				let _fmtFunctions = [
					{ title: this.localize('uiOutputtable.concat.title'), id: 'concat' },
					{ title: this.localize('uiOutputtable.money.title'), id: 'money' },
					{ title: this.localize('uiOutputtable.icon.title'), id: 'icon' }
				];

				let _alignValues = [
					{ title: this.localize('uiOutputtable.left.title'), id: 'left' },
					{ title: this.localize('uiOutputtable.right.title'), id: 'right' },
					{ title: this.localize('uiOutputtable.center.title'), id: 'center' }
				];

				this.set('fmtFunctions', _fmtFunctions);
				this.set('alignValues', _alignValues);

				// translate output table
				this.__translateComboboxes(this.selectedFields, this.fmtFunctions, this.alignValues);
			}

			_translateComboboxes(selectedFields, fmtFunctions, alignValues) {
				if (_.isEmpty(selectedFields) || _.isEmpty(fmtFunctions) || _.isEmpty(alignValues)) return;
				// return if table is already translated (test first row)
				if (selectedFields[0].align.title) return;
				this.__translateComboboxes(this.selectedFields, this.fmtFunctions, this.alignValues);
			}

			__translateComboboxes(selectedFields, fmtFunctions, alignValues) {
				if (_.isEmpty(selectedFields) || _.isEmpty(fmtFunctions) || _.isEmpty(alignValues)) return;

				this.set("selectedFields", undefined);
				Polymer.RenderStatus.afterNextRender(this, () => {
					try {
						if (!_.isEmpty(selectedFields)) {
							selectedFields.forEach( (field) => {
								if (field.align) {
									let align = _.find(alignValues, { id: field.align.id ? field.align.id : field.align });
									field.align = align ? Object.assign({}, align) : field.align;
								}
								if (field.fmtFnc) {
									let fmtFnc = _.find(fmtFunctions, { id: field.fmtFnc.id ? field.fmtFnc.id : field.fmtFnc });
									field.fmtFnc = fmtFnc ? Object.assign({}, fmtFnc) : field.fmtFnc;
								}
							});
						}
					} catch (error) {
						console.error(error);
					} finally {
						this.set("selectedFields", selectedFields);
					}
				});
			}
		}
		customElements.define(UiOutputtableSettings.is, UiOutputtableSettings)
	</script>
</dom-module>