<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../paper-button/paper-button.html">
<link rel="import" href="../../iron-icon/iron-icon.html">
<link rel="import" href="../ui-elements/ui-auto-complete.html">
<link rel="import" href="../ui-elements/ui-text-field.html">

<dom-module id="ui-publications">
	<template>
		<style>
			.wrapper {
				display: inline-block;
			}
			.flex-container-horizontal {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
			}
			.flex-container-vertical {
				display: flex;
				flex-direction: column;
				width: 100%;
			}
			.flex-Grow-n-Shrink {
				flex-grow: 1;
				flex-shrink: 1;
			}
			.flex-wrap {
				flex-wrap: wrap;
			}
			.flex-item {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: auto;
			}
			.flex-50 {
				width: 50%;
			}
			.flex-right-padding-16 {
				padding-right: 16px;
			}
			.flex-bottom-padding-8 {
				padding-bottom: 8px;
			}
			.justify-right {
				justify-content: flex-end;
			}
			table.dataTable {
				width: 100%;
				border-collapse: collapse;
			}
			table.dataTable thead tr th {
				position: sticky;
				top: -8px;
				background: white;
				color: #777d81;
				font-size: 10px;
				white-space: nowrap;
				font-weight: normal;
				text-decoration: underline;
				padding: 2px 4px 2px;
			}
			table.dataTable tbody tr td {
				border-width: 0px 0 0px 0;
				border-style: solid;
				border-color: #cccccc;
				font-size: 12px;
				font-weight: normal;
				color: #2a3539;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100px;
				border-right-width: 1px;
				padding: 1px 4px;
			}
			table.dataTable tbody tr td:first-child {
				border-left-width: 1px;
			}
			table.dataTable tbody tr:last-of-type td {
				border-bottom-width: 1px;
			}
			table.dataTable tbody tr:first-child td {
				border-top-width: 1px;
			}
			table.dataTable tbody tr:nth-child(even) td {
				background: #f0f4f7;
			}
			table.dataTable tbody tr:nth-child(odd) td {
				background: #ffffff;
			}
			table.dataTable tbody tr:hover td {
				background: #e4f5f2;
			}
		</style>

			<div class="flex-container-vertical">
				<!-- Input fields: key-value pairs to send -->
				<div class="flex-container-horizontal flex-bottom-padding-8">
					<div class="flex-item flex-right-padding-16">
						<ui-text-field label="[[localize('uiPublications.fieldname')]]" text="{{_staticFieldName}}"></ui-text-field>
					</div>
					<div class="flex-item flex-right-padding-16">
						<ui-text-field label="[[localize('uiPublications.fieldvalue')]]" text="{{_staticFieldValue}}"></ui-text-field>
					</div>
					<abas-function-button on-tap="_addStaticField">[[localize('uiPublications.add')]]</abas-function-button>
				</div>
				<!-- Checkbox: Send whole (given) object, e.g. inidicator -->
				<template is="dom-if" if="[[!withoutObject]]">
					<div class="flex-container-horizontal flex-bottom-padding-8 justify-right">
						<abas-function-button on-tap="_addInputObject">[[localize('uiPublications.addObject')]]</abas-function-button>
					</div>
				</template>
				<!-- Table of key-value pairs (publications) -->
				<table class="dataTable">
					<thead>
						<tr>
							<th scope="col">[[localize('uiPublications.fieldname')]]</th>
							<th scope="col">[[localize('uiPublications.fieldvalue')]]</th>
							<th scope="col" style="width: 30px"></th>
						</tr>
					</thead>
					<tbody>
						<template is="dom-repeat" items=[[publications]] as="field">
							<tr>
								<td>[[field.name]]</td>
								<td>[[field.value]]</td>
								<td style="text-align: center">
									<abas-icon icon="trashAlt" on-tap="_onTapDeleteRow"></abas-icon>
								</td>
							</tr>
						</template>
					</tbody>
				</table>
			</div>


	</template>

	<script>
		/**
		 * `ui-publications`
		 * component to setup publications
		 *
		 * @customElement
		 * @polymer
		 *
		 */
		class UiPublications extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() { return 'ui-publications'; }
			static get properties() {
				return {
					input: { type: Object, value: () => { return {} } },
					publications: { type: Array, value: () => { return [] }, notify: true },
					withoutObject: { type: Boolean, value: false },
					_staticFieldName: { type: String, value: '' },
					_staticFieldValue: { type: String, value: '' }
				};
			}
			static get observers() {
				return [
					'_update(input)'
				];
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			_update(input) {
				let publication = {
					name: "message",
					type: "computed",
					value: this.input
				};
				let index = _.findIndex(this.publications, { name: "message" });
				if (index != -1) {
					this.publications.splice(index, 1, publication);
				}
			}

			_addInputObject() {
				let publication = {
					name: "message",
					type: "computed",
					value: this.input
				};
				let index = _.findIndex(this.publications, { name : "message" });
				if (index != -1) {
					this.publications.splice(index, 1, publication);
				} else {
					this.push('publications', publication);
				}
				this.set('publications', this.publications);
			}

			_addStaticField(event) {
				let tmp = _.findIndex(this.publications, { name : this._staticFieldName });
				if (tmp != -1) return;

				this.push('publications', {
					name: this._staticFieldName,
					type: "static",
					value: this._staticFieldValue
				});
			}

			_onTapDeleteRow(event) {
				const index = event.model.__data.index;
				this.splice('publications', index, 1);
			}
		}
		window.customElements.define(UiPublications.is, UiPublications);
	</script>
</dom-module>
