<link rel="import" href="../../polymer/polymer-element.html">
<link rel="import" href="../../abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../paper-dialog/paper-dialog.html" />
<link rel="import" href="../ui-elements/ui-auto-complete.html">
<link rel="import" href="../ui-elements/db-selection-dialog.html">

<dom-module id="ui-subscriptions">
	<template>
		<abas-config-meta data="{{_configuration}}"></abas-config-meta>
		<style>
			.wrapper {
				display: inline-block;
				width: 100%;
				/* autocompletes max */
				max-width: 650px;
			}
			.flex-container-vertical {
				display: flex;
				flex-direction: column;
			}
			.flex-item {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: auto;
			}
			.text-align-center {
				text-align: center;
			}

			table.dataTable {
				width: 100%;
				border-collapse: collapse;
			}
			table.dataTable thead tr th {
				position: sticky;
				top: -8px;
				background: white;
				color: #777d81;
				font-size: 10px;
				white-space: nowrap;
				font-weight: normal;
				text-decoration: underline;
				padding: 2px 4px 2px;
			}
			table.dataTable tbody tr td {
				border-width: 0px 0 0px 0;
				border-style: solid;
				border-color: #cccccc;
				font-size: 12px;
				font-weight: normal;
				color: #2a3539;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100px;
				border-right-width: 1px;
				padding: 1px 4px;
			}
			table.dataTable tbody tr td:first-child {
				border-left-width: 1px;
			}
			table.dataTable tbody tr:last-of-type td {
				border-bottom-width: 1px;
			}
			table.dataTable tbody tr:first-child td {
				border-top-width: 1px;
			}
			table.dataTable tbody tr:nth-child(even) td {
				background: #f0f4f7;
			}
			table.dataTable tbody tr:nth-child(odd) td {
				background: #ffffff;
			}
			table.dataTable tbody tr:hover td {
				background: #e4f5f2;
			}
		</style>

		<div class="wrapper">
			<div class="flex-container-vertical">
				<ui-auto-complete label="[[localize('uiSubscriptions.subscribe.to')]]" items="[[items]]" on-item-select="_addSubscription"></ui-auto-complete>

				<table class="dataTable">
					<thead>
						<tr>
							<th scope="col">[[localize('uiSubscriptions.fieldname')]]</th>
							<th scope="col">[[localize('uiSubscriptions.erptype')]]</th>
							<th scope="col" colspan="2">[[localize('uiSubscriptions.topics')]]</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<template is="dom-repeat" items="[[subscriptions]]" as="field">
							<tr>
								<td title="[[field.name]]">[[field.name]]</td>
								<td title="[[field.erpType]]">[[field.erpType]]</td>
								<td title="[[field.topics]]">[[field.topics]]</td>
								<td style="width: 15em" class="text-align-center">
									<abas-icon icon="cog" on-tap="_openSetup"></abas-icon>
								</td>
								<td style="width: 15em" class="text-align-center" title="[[localize('uiSubscriptions.remove')]]">
									<abas-icon icon="trashAlt" on-tap="_onTapDeleteReference"></abas-icon>
								</td>
							</tr>
						</template>
					</tbody>
				</table>
			</div>

			<!-- Input support -->
			<database-selection-dialog id="setup" fieldname="[[_actualFieldname]]" topics="{{_actualTopics}}" on-actual-topic-update="_updateTopics"></database-selection-dialog>
		</div>

	</template>

	<script>
		/**
		 * `ui-subscriptions`
		 * component to setup subscriptions
		 *
		 * @customElement
		 * @polymer
		 *
		 * <ui-subscriptions datasource="{{datasource}}" items={{items}} subscriptions={{subscriptions}}></ui-subscriptions>
		 */
		class UiSubscriptions extends Polymer.AbasLocalizeMixin(Polymer.Element) {
			static get is() { return 'ui-subscriptions'; }
			static get properties() {
				return {
					datasource: { type: Object, value: () => { return [] } },
					items: { type: Array, value: () => { return [] } },
					subscriptions: { type: Array, value: () => { return [] }, notify: true },
					_actualTopics: { type: Array, value: () => { return [] } },
					_actualIndex: { type: Number }
				};
			}
			static get observers() {
				return [
				];
			}

			connectedCallback() {
				super.connectedCallback();
				this.loadResources(this.resolveUrl(this.importPath + '../locales.json'));
			}

			disconnectedCallback() {
				super.disconnectedCallback();
			}

			_openSetup(event) {
				// set _actualTopics
				const index = event.model.__data.index;
				this.set("_actualIndex", index);
				let referenceFieldIndex = _.findIndex(this.items, { name: `${this.subscriptions[index].name}` });
				let topics = this._getTopics(this.datasource, this.items[referenceFieldIndex]).then( (topics) => {
					let _actualTopics = topics.map((topic) => {
						let active = _.includes(this.subscriptions[index].topics, topic);
						return {
							topic: topic,
							active: active
						}
					});
					this.set('_actualTopics', _actualTopics.slice(0));
					this.set('_actualFieldname', this.subscriptions[index].name);
					// open dialog
					this.$.setup.open();
				});
			}

			_updateTopics(event) {
				if (_.isEmpty(event.detail.topics)) return;
				this._actualTopics = event.detail.topics;
				let topics = _.filter(this._actualTopics, { active: true });
				var item = this.get(['subscriptions', this._actualIndex]);
				let newTopicsArray = topics.map( (entry) => {
					return entry.topic;
				})
				let entry = this.subscriptions[this._actualIndex];
				entry.topics = newTopicsArray;
				this.set(`subscriptions.${this._actualIndex}.topics`, []);
				this.set(`subscriptions.${this._actualIndex}.topics`, newTopicsArray);
				this.set('subscriptions', this.subscriptions);
			}

			_addSubscription(event) {
				let referenceField = event.detail;
				let tmp = _.findIndex(this.subscriptions, { name : referenceField.name });
				if (tmp != -1) return;

				// subscriptions
				this._getTopics(this.datasource, referenceField).then( (topics) => {
					this.push('subscriptions', {
						name: referenceField.name,
						description: referenceField.description,
						erpType: referenceField.type.erpType,
						topics: topics
					})
					this.set('subscriptions', this.subscriptions);
				})
			}

			_getTopics(datasource, referenceField) {
				const name = _.get(referenceField, 'name', '');
				const type = _.get(referenceField, 'type.erpType', '');
				const typeHref = _.get(referenceField, 'type.links.describedby[0].href', '');
				const erpBaseUrl = _.get(this._configuration, 'api.erpBaseURL');

				if (_.isEmpty(typeHref)) {
					return Promise.reject(`${name}:${type} has no describedby href`);
				}

				const headers = new Headers();
				headers.set('accept', 'application/abas.objects.simple+json');
				headers.set('content-type', 'application/json');
				return auth0Fetch(`${erpBaseUrl}${typeHref}`, {
					method: 'GET',
					headers: headers
				}).then((resp) => {
					if (resp.ok) {
						return resp.json();
					}
					return [];
				}).then((mwResponse) => {
					let result = _.get(mwResponse, 'detail.possibleTargets', []);
					let groups = [];
					result.forEach(item => {
						groups.push(`${item.tableName}`);
					})
					return groups;
				}).then((groups) => {
					return groups;
				})
			}

			_onTapDeleteReference(_event) {
				const index = _event.model.__data.index;
				this.splice('subscriptions', index, 1);
			}
		}
		window.customElements.define(UiSubscriptions.is, UiSubscriptions);
	</script>
</dom-module>
