<link rel="import" href="SimpleInfosystem.html">
<link rel="import" href="DBSelection.html">
<link rel="import" href="IndicatorDatasource.html">
<link rel="import" href="../../aba-js-imports/lodash-import.html">
<script>
	((window) => {
		class Factory {

			static get SimpleInfosystemType() {
				return 'infosystem'
			}

			static get DBSelectionType() {
				return 'dbquery'
			}

			static get IndicatorType() {
				return 'indicator'
			}

			static create(options) {
				let { configuration: configuration, apiConfiguration: apiConfiguration } = options
				if (configuration._version && configuration._version !== 0) {
					throw new Error('unsupported version')
				}
				switch (configuration.type) {
					case Factory.SimpleInfosystemType:
						return new abasWidgets.SimpleInfosystem(options)
					case Factory.DBSelectionType:
						return new abasWidgets.DBSelection(options)
					case Factory.IndicatorType:
						return new abasWidgets.IndicatorDatasource(options)
					default:
						throw new Error('unknown datasource type')
				}
			}
		}

		if (!window.abasWidgets) {
			window.abasWidgets = {}
		};
		window.abasWidgets.DatasourceFactory = Factory

	})(window)
</script>