<link rel=import href=Datasource.html>
<link rel=import href=Factory.html>
<link rel="import" href="../../aba-js-imports/postaljs-import.html">
<script>
	((window) => {
		class IndicatorDatasource extends window.abasWidgets._ds.Datasource {

			constructor({ configuration: configuration, apiConfiguration: apiConfiguration }) {
				super({
					criteriaSeparator: undefined,
					operator: undefined,
					configuration: configuration,
					apiConfiguration: apiConfiguration
				})
				this.onUpdate = configuration.onUpdate
				this.type = window.abasWidgets.DatasourceFactory.IndicatorType
				this.__storage__ = []
				this.loadingPromise = this._subscribe()
			}

			firstSet() {
				this.init()
				return this.loadingPromise.then( () => {
					return this._pageSet()
				})
			}

			_subscribe() {
				let result = new Promise((resolve, _reject) => {
					postal.subscribe({
						channel: this.configuration.messageChannel,
						topic: 'indicator',
						callback: (data, _envelope) => {
							this.columns = data.columns
							this.title = data.title
							this.__storage__ = data.rows
							resolve()
							if ( this.onUpdate ) { this.onUpdate() }
						}
					})
				})

				return result
			}

			nextSet() {
				if (!this.hasNextPage) { return Promise.reject('no more page available') }
				this._offset += this._limit
				return this._pageSet()
			}

			previousSet() {
				if (!this.hasPreviousPage) { return Promise.reject('no previous page available') }
				this._offset -= this._limit
				return this._pageSet()
			}

			_pageSet() {
				let _set = this.__storage__.slice(this._offset, (this._offset + this._limit))
				this.currentSetSize = _set.length
				this.hasNextPage = (this.__storage__.length > (this._offset + this._limit))
				this.hasPreviousPage = this._offset > 0
				return Promise.resolve(_set)
			}
		}
		if (!window.abasWidgets) {
			window.abasWidgets = {}
		}
		window.abasWidgets.IndicatorDatasource = IndicatorDatasource
	})(window)
</script>
