<link rel=import href=Datasource.html>
<link rel=import href=Factory.html>
<script>
	((window) => {
		class SimpleInfosystem extends window.abasWidgets._ds.Datasource {
			constructor({ configuration: configuration, apiConfiguration: apiConfiguration }) {
				super({
					criteriaSeparator: '|',
					operator: '=',
					configuration: configuration,
					apiConfiguration: apiConfiguration
				})
				this.type = window.abasWidgets.DatasourceFactory.SimpleInfosystemType
				this._limit = 10
				this.__storeage = []
			}

			fullSet(options) {
				let { limit = 65536 } = options
				this._limit = limit
				this._offset = 0
				return this._load()
			}

			firstSet() {
				this._offset = 0
				return this._load().then((fullSet) => {
					this.__storeage = fullSet.table
					return this._pageSet()
				})

			}

			nextSet() {
				if (!this.hasNextPage) { return Promise.reject('no more page available') }
				this._offset += this._limit
				return this._pageSet()
			}

			previousSet() {
				if (!this.hasPreviousPage) { return Promise.reject('no previous page available') }
				this._offset -= this._limit
				return this._pageSet()
			}

			_pageSet() {
				let _set = this.__storeage.slice(this.offset, (this.offset + this._limit))
				this.currentSetSize = _set.length
				this.hasNextPage = (this.__storeage.length > (this.offset + this._limit))
				this.hasPreviousPage = this.offset > 0
				return Promise.resolve(_set)
			}

			_load() {
				let headers = new Headers();
				let outputHeadFields = _.filter(this.configuration.columns, function (o) { return !o.tableField });
				let outputHeadFieldsNames =  _.map(outputHeadFields,'property')
				let publicationsHeadFieldsNames = _.map(this.publications, 'name');
				let tableFields = _.filter(this.configuration.columns, ['tableField', true]);
				headers.set("accept", "application/abas.objects+json");
				headers.set("content-type", "application/json");
				let query = this._evalCriteria(this.configuration.query, this.context, this.appenders)
				let workspace = _.get(this.configuration, 'workspace', '');
				let action = {
					initAction: {
						_type: "OpenEditorCommandString",
						cmd: `(Infosystem) ${this.configuration.searchWord} ${workspace} ? ${query}`
					},
					tableFields:  _.map(tableFields,'property').join(','),
					headFields: _.concat(outputHeadFieldsNames, publicationsHeadFieldsNames).join(',')
				};
				let mwEndpoint = new URL(`${_.get(this.apiConfiguration, 'api.erpBaseURL')}${this.configuration.company.href}/exec`)
				return auth0Fetch(mwEndpoint.toString(), {
					method: "POST",
					headers: headers,
					body: JSON.stringify(action)
				})
					.then(resp => {
						if (resp.ok) {
							return resp.json();
						}
						throw resp;
					})
					.then(mwResponse => {
						let resultSetTable = _.get(mwResponse, "content.data.table", [])
						let resultSetHead = _.get(mwResponse, "content.data.head.fields", [])
						let resultSet = {
							head: resultSetHead,
							table: resultSetTable
						}
						return resultSet
					}).catch( response => {
						this.handleMiddlewareError(response);
						throw new Error(`Requesting middleware failed::${this.constructor.name}`)
					});
			}
		}

		if (!window.abasWidgets) {
			window.abasWidgets = {}
		}
		window.abasWidgets.SimpleInfosystem = SimpleInfosystem

	})(window)
</script>